AWS_ACCESS_KEY=
SECRET_KEY=
REGION=us-east-2

S3_BUCKET=your-s3-bucket

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=careplus_support_db

REDSHIFT_HOST=
REDSHIFT_PASSWORD=
REDSHIFT_USER=
